.wrapper-navbar{
  padding: 1.125rem 5rem;
  background: #181818;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .form-search{
    position: relative;
    width: 22%;

    .input-search{
      width: 100%;
      height: 47px;
      border: 1px solid #F46649;
      border-radius: 16px;
      padding-left: 40px;
      outline: none;
      background-color: transparent;
      font: normal 1.3rem "Arial";
      color: #F46649;

      &::placeholder{
        font: normal 1.3rem "Arial";
        color: #F46649; 
      }
    }
    .icon-search{
      position: absolute;
      top: 14px;
      left: 10px;
    }
  }
}

//menu styling
.menu-navbar{
  display: flex;
  align-items: center;

  .link-element{
    font:normal 1.25rem "Arial";
    margin-right: 2rem;
    color: #fff;
    text-decoration: none;
  }
  .button-login{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background-color: #F46649;
    font:normal 1.25rem "Arial";
    color: #000;
    outline: none;
  }
}