@import './sidebar.scss';
@import './header.scss';
@import './wrapperItems.scss';

.container-home{
  width: 100%;
  position: relative;
  height: auto;
  display: flex;
  background-color: transparent;
  margin-top: 30px;
}
.wrapper-home{
  width: 100%;
  height: auto;
  border-left: 1px solid #F46649;

  .section-header{
    width: 100%;
    padding: 0 0 1.93rem 2.30rem;
    border-bottom: 1px solid #F46649;
  }
  .rest-section{
    padding: 1rem 0 1.93rem 2.30rem;
    border-bottom: 1px solid #F46649;
    width: auto;
    position: relative;
  }
  .swiper-container {
    width: 100%;
    position: absolute;
    top: 50px;
    margin-top: 30px;
    
    .swiper-slide {
      background: #fff;
      height: 220px;
      width: 220px;
      border-radius: 35px;
      background-repeat: no-repeat;
    }
  }
}
