.sidebar-home{
  width: 400px;
  height: 100%;
  display: flex;
  background-color: transparent;
  flex-direction: column;
  padding-left: 80px;
  padding-top: 100px;

  .sideLink{
    font:bold 1rem "Arial";
    color: #fff;
    margin-bottom: 4rem;
    cursor: pointer;
  }
  .currentLink{
    color: #F46649 !important;
  }
}